.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.pagination:hover {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid gray;
    transition: all 0.15s ease-in-out;
}

.page-link:hover {
    z-index: 2;
    background-color: gray;
    border-color: black;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: gray;
    border-color: black;
}
.page-item.disabled .page-link {
    color: gray;
    pointer-events: none;
}

.page-link {
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}