.user-card {
    width: 16rem;
    margin: 5px;
    padding: 5px;
    transition: all .5s ease-out;
}

.users-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}